<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <customFields>{"application":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>
    <logger name="com.ditto" level="INFO"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</included>
